service cloud.firestore {
  function isRequestResourceAuthor() {
    return request.auth.uid == request.resource.data.authorUid
      && request.auth.token.name == request.resource.data.authorName;
  }
  match /databases/{database}/documents {
    function isValidNewPostDocument() {
      return request.resource.data.keys().hasAll(['authorUid', 'authorName', 'authorPhotoURL', 'dateOfCreation', 'dateOfLastActivity', 'title', 'content'])
        && request.resource.data.size() == 7
        && request.resource.data.authorUid is string
        && request.resource.data.authorName is string
        && request.resource.data.authorPhotoURL is string
        && request.resource.data.title is string;
    }
    match /posts/{id} {
      allow read;
      allow create: if isRequestResourceAuthor() && isValidNewPostDocument();
    }
  }
}
