service firebase.storage {
  function isAuthenticated() {
    return request.auth != null
  }
  match /b/{bucket}/o {
    match /images/{imageId} {
      allow read;
      allow create: if isAuthenticated()
        && request.resource.contentType.matches('image/jpeg');
    }
  }
}