.Col {
  display: flex;
  flex-direction: column;
}
.Col.Spacing-medium > * + * {
  margin-top: 12px;
}
.Col.Spacing-large > * + * {
  margin-top: 24px;
}
.Col.JustifyContentStart {
  justify-content: flex-start;
}
.Col.JustifyContentEnd {
  justify-content: flex-end;
}
.Col.JustifyContentSpaceBetween {
  justify-content: space-between;
}
.Col.JustifyContentCenter {
  justify-content: center;
}
ul.Col,
ol.Col {
  list-style: none;
  margin: 0;
  padding: 0;
}
