.Flex {
  display: flex;
}
.Flex.row {
  flex-direction: row;
}
.Flex.column {
  flex-direction: column;
}
.Flex.Spacing-medium > * + * {
  margin-left: 12px;
}
.Flex.Spacing-large > * + * {
  margin-top: 24px;
}
.Flex.Spacing-small > * + * {
  margin-left: 6px;
}
.Flex.JustifyContent-start {
  justify-content: flex-start;
}
.Flex.JustifyContent-end {
  justify-content: flex-end;
}
.Flex.JustifyContent-spaceBetween {
  justify-content: space-between;
}
.Flex.JustifyContent-center {
  justify-content: center;
}
.Flex.AlignItems-center {
  align-items: center;
}
.Flex.Wrap {
  flex-wrap: wrap;
}
.Flex.Grow,
.Flex.GrowChildren > * {
  flex-grow: 1;
}
.Flex.SidePaddings-mediumResponsive .Flex.SidePaddings-medium {
  padding-left: 12px;
  padding-right: 12px;
}
ul.Flex.col,
ol.Flex.col {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Flex.col.Seperators > * + * {
  border-top: 1px solid #e7edf3;
}
@media only screen and (min-width: 611px) {
  .Flex.SidePaddings-mediumResponsive {
    padding-left: 24px;
    padding-right: 24px;
  }
}
