.Row {
  display: flex;
  flex-direction: row;
}
.Row.Spacing-medium > * + * {
  margin-left: 12px;
}
.Row.Spacing-small > * + * {
  margin-left: 6px;
}
.Row.JustifyContentStart {
  justify-content: flex-start;
}
.Row.JustifyContentEnd {
  justify-content: flex-end;
}
.Row.JustifyContentSpaceBetween {
  justify-content: space-between;
}
.Row.JustifyContentCenter {
  justify-content: center;
}
.Row.AlignItemsCenter {
  align-items: center;
}
.Row.Wrap {
  flex-wrap: wrap;
}
.Row.Grow,
.Row.GrowChildren > * {
  flex-grow: 1;
}
.Row.SidePaddings-medium {
  padding-left: 12px;
  padding-right: 12px;
}
@media only screen and (max-width: 610px) {
  .Row.Break610 {
    flex-direction: column;
  }
  .Row.Break610.Spacing-Medium > * + * {
    margin-left: 0;
    margin-top: 12px;
  }
  .Row.Break610.GrowChildren > * {
    flex-grow: 0;
  }
}
